@model ShopVM

@section slickjs{
    <script src="~/assets/slick/slick/slick.min.js"></script>
}

@section filterandimagejs{
    <script src="~/assets/js/filter-range.js"></script>
    <script src="~/assets/js/image.js"></script>
}

@{
    ViewData["Title"] = Model.Product.Name;
}

<header>
    <div class="header-middle d-none d-lg-block">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-lg-2">
                    <div class="header-logo">
                        <a asp-controller="home" asp-action="index">
                            <img src="~/assets/images/logo/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="search-section">
                        <form action="#">
                            <div class="search-box">
                                <input type="text" placeholder="Search for items...">
                                <i class="icofont-search-1"></i>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="header-actions">

                        <div class="header-action">
                            <a href="~/#">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-compare.svg" alt="compare">
                                    <span>3</span>
                                </div>
                                <p>Compare</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <a href="~/#">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-heart.svg" alt="wishlist">
                                    <span>6</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <a href="~/cart.html">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-cart.svg" alt="cart">
                                    <span>2</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <div class="dropdown account-hover">
                                <a href="~/#">
                                    <div>
                                        <img src="~/assets/images/theme/icons/icon-user.svg" alt="user">
                                    </div>
                                    <p>Account</p>
                                </a>
                                <div class="dropdown-content account-dropdown">
                                    <ul>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-user"></i>
                                                <span>My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-location-alt"></i>
                                                <span>Order Tracking</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-label"></i>
                                                <span>My Voucher</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-heart"></i>
                                                <span>My Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-settings-sliders"></i>
                                                <span>Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/#">
                                                <i class="fi fi-rs-sign-out"></i>
                                                <span>Sign out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom-2 d-none d-lg-block">

        <div class="trending-categories d-none d-lg-block">
            <a href="~/#">
                <i class="fi-rs-apps"></i>
                <span>Browse All Categories</span>
                <i class="fi-rs-angle-down"></i>
            </a>
        </div>

        <div class="header-menu">
            <nav>
                <ul>
                    <li>
                        <a asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="about" asp-action="index">About</a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-action="index">Shop</a>
                    </li>
                    <li>
                        <a href="~/#">Mega menu</a>
                    </li>
                    <li>
                        <a asp-controller="contact" asp-action="index">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="hotline">
            <div class="hotline-icon">
                <img src="~/assets/images/theme/icons/icon-headphone.svg" alt="hotline">
            </div>
            <div class="hotline-call">
                <p>1900 - 888</p>
                <span>24/7 Support Center</span>
            </div>
        </div>

    </div>
</header>

<section id="product-page-header">
    <div class="page-header-2">
        <div class="container-fluid">
            <div class="breadcrumb-2">
                <a asp-controller="home" asp-action="index">
                    <i class="fi-rs-home ms-0 me-1"></i>
                    <span>Home</span>
                </a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="~/#">
                    <span>@Model.Product.Category.Name</span>
                </a>
                <i class="fa-solid fa-angle-right"></i>
                <span>Seeds Of Change Organic</span>
            </div>
        </div>
    </div>
</section>

<section id="single-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-11 col-lg-12 m-auto">

                <div class="row">

                    <div class="col-xl-9">
                        <div class="product-detail">
                            <div class="row">

                                <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    <div class="product-gallery">
                                        <span class="zoom-icon">
                                            <i class="fi-rs-search"></i>
                                        </span>

                                        <div class="product-image-slider">
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.Image"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </figure>
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.HoverImage"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </figure>
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.Image"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </figure>
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.HoverImage"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </figure>
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.Image"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </figure>
                                            <figure>
                                                <img id="zoom_in" src="~/assets/images/products/@Model.Product.HoverImage"
                                                     data-zoom-image="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </figure>
                                        </div>

                                        <div class="product-slider-nav">
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </div>
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </div>
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </div>
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </div>
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.Image"
                                                     alt="product image" />
                                            </div>
                                            <div>
                                                <img src="~/assets/images/products/@Model.Product.HoverImage"
                                                     alt="product image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <span class="stock-status @Model.Product.StockStatus">@Model.Product.StockStatusText</span>
                                        <h2 class="title-detail">@Model.Product.Name</h2>
                                        <div class="rate-detail">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <span>(32 reviews)</span>
                                        </div>
                                        <div class="price-detail">
                                            <div class="current-price">
                                                <span>$@Model.Product.Price</span>
                                            </div>
                                            <div class="discount">
                                                @if (Model.Product.Badge == "off")
                                                {<span class="off-percentage">@Model.Product.BadgeText Off</span> }
                                            else
                                            { @*<span class="off-percentage">@((float)Model.Product.Price)*100/@((float)Model.Product.OldPrice)-100</span>*@}
                                                <s class="old-price">$@Model.Product.OldPrice</s>
                                            </div>
                                        </div>
                                        <div class="short-desc">
                                            <p>@Model.Product.ShortDescription</p>
                                        </div>
                                        <div class="size-detail">
                                            <strong>Size / Weight:</strong>
                                            <ul class="size-filter">
                                                <li>
                                                    <a href="~/#">50g</a>
                                                </li>
                                                <li>
                                                    <a href="~/#" class="active">60g</a>
                                                </li>
                                                <li>
                                                    <a href="~/#">80g</a>
                                                </li>
                                                <li>
                                                    <a href="~/#">100g</a>
                                                </li>
                                                <li>
                                                    <a href="~/#">150g</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="extralink-detail">
                                            <div class="product-count">
                                                <span class="count-value">1</span>
                                                <a href="~/#" class="count-up">
                                                    <i class="fi-rs-angle-small-up"></i>
                                                </a>
                                                <a href="~/#" class="count-down">
                                                    <i class="fi-rs-angle-small-down"></i>
                                                </a>
                                            </div>
                                            <div class="extra-links">
                                                <button type="submit">
                                                    <i class="fi-rs-shopping-cart"></i>
                                                    <span>Add to cart</span>
                                                </button>
                                                <a href="~/#" class="hover-up">
                                                    <i class="fi-rs-heart"></i>
                                                </a>
                                                <a href="~/#" class="hover-up">
                                                    <i class="fi-rs-shuffle"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="properties-detail">
                                            <ul class="list-left">
                                                <li>
                                                    Type: <span>@Model.Product.Category.Name</span>
                                                </li>
                                                <li>
                                                    MFG: <span>Jun 4.2021</span>
                                                </li>
                                                <li>
                                                    LIFE: <span>70 days</span>
                                                </li>
                                            </ul>

                                            <ul class="list-right">
                                                <li>
                                                    SKU: <a href="~/#">FWM15VKT</a>
                                                </li>
                                                <li>
                                                    Tags: <a href="~/#">Snack</a>, <a href="~/#">Organic</a>, <a href="~/#">Brown</a>
                                                </li>
                                                <li>
                                                    Stock: <span>@Model.Product.Count Items In Stock</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="accordion-detail">

                            <div class="product-info">
                                <div class="tab-style3">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                               href="~/#Description">Description</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                               href="~/#Additional-info">Additional info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab"
                                               href="~/#Vendor-info">Vendor</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                               href="~/#Reviews">Reviews (3)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content shop_info_tab entry-main-content">
                                        <div class="tab-pane fade show active" id="Description">
                                            <div class="description-content">
                                                <p>
                                                    Uninhibited carnally hired played in whimpered dear gorilla koala
                                                    depending and much yikes off far quetzal goodness and from for
                                                    grimaced goodness unaccountably and meadowlark near unblushingly
                                                    crucial scallop tightly neurotic hungrily some and dear
                                                    furiously this apart.
                                                </p>
                                                <p>
                                                    Spluttered narrowly yikes left moth in yikes bowed this that
                                                    grizzly much hello on spoon-fed that alas rethought much
                                                    decently richly and wow against the frequent fluidly at
                                                    formidable acceptably flapped besides and much circa far over
                                                    the bucolically hey precarious goldfinch mastodon goodness
                                                    gnashed a jellyfish and one however because.
                                                </p>
                                                <ul class="product-more-info">
                                                    <li><span>Type Of Packing</span> Bottle</li>
                                                    <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                                    <li><span>Quantity Per Case</span> 100ml</li>
                                                    <li><span>Ethyl Alcohol</span> 70%</li>
                                                    <li><span>Piece In One</span> Carton</li>
                                                </ul>
                                                <hr class="is-style-dots" />
                                                <p>
                                                    Laconic overheard dear woodchuck wow this outrageously taut
                                                    beaver hey hello far meadowlark imitatively egregiously hugged
                                                    that yikes minimally unanimous pouted flirtatiously as beaver
                                                    beheld above forward energetic across this jeepers beneficently
                                                    cockily less a the raucously that magic upheld far so the this
                                                    where crud then below after jeez enchanting drunkenly more much
                                                    wow callously irrespective limpet.
                                                </p>
                                                <h4 class="mt-30">Packaging & Delivery</h4>
                                                <hr class="is-style-wide" />
                                                <p>
                                                    Less lion goodness that euphemistically robin expeditiously
                                                    bluebird smugly scratched far while thus cackled sheepishly
                                                    rigid after due one assenting regarding censorious while
                                                    occasional or this more crane went more as this less much amid
                                                    overhung anathematic because much held one exuberantly sheep
                                                    goodness so where rat wry well concomitantly.
                                                </p>
                                                <p>
                                                    Scallop or far crud plain remarkably far by thus far iguana lewd
                                                    precociously and and less rattlesnake contrary caustic wow this
                                                    near alas and next and pled the yikes articulate about as less
                                                    cackled dalmatian in much less well jeering for the thanks
                                                    blindly sentimental whimpered less across objectively fanciful
                                                    grimaced wildly some wow and rose jeepers outgrew lugubrious
                                                    luridly irrationally attractively dachshund.
                                                </p>
                                                <h4 class="mt-30">Suggested Use</h4>
                                                <ul class="product-more-info">
                                                    <li>Refrigeration not necessary.</li>
                                                    <li>Stir before serving</li>
                                                </ul>
                                                <h4 class="mt-30">Other Ingredients</h4>
                                                <ul class="product-more-info">
                                                    <li>Organic raw pecans, organic raw cashews.</li>
                                                    <li>
                                                        This butter was produced using a LTG (Low Temperature
                                                        Grinding) process
                                                    </li>
                                                    <li>
                                                        Made in machinery that processes tree nuts but does not
                                                        process peanuts, gluten, dairy or soy
                                                    </li>
                                                </ul>
                                                <h4 class="mt-30">Warnings</h4>
                                                <ul class="product-more-info">
                                                    <li>
                                                        Oil separation occurs naturally. May contain pieces of
                                                        shell.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Additional-info">
                                            <div class="additional-info-content">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th>Stand Up</th>
                                                            <td>
                                                                <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Folded (w/o wheels)</th>
                                                            <td>
                                                                <p>32.5″L x 18.5″W x 16.5″H</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Folded (w/ wheels)</th>
                                                            <td>
                                                                <p>32.5″L x 24″W x 18.5″H</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Door Pass Through</th>
                                                            <td>
                                                                <p>24</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Frame</th>
                                                            <td>
                                                                <p>Aluminum</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Weight (w/o wheels)</th>
                                                            <td>
                                                                <p>20 LBS</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Weight Capacity</th>
                                                            <td>
                                                                <p>60 LBS</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Width</th>
                                                            <td>
                                                                <p>24″</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Handle height (ground to handle)</th>
                                                            <td>
                                                                <p>37-45″</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Wheels</th>
                                                            <td>
                                                                <p>12″ air / wide track slick tread</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Seat back height</th>
                                                            <td>
                                                                <p>21.5″</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Head room (inside canopy)</th>
                                                            <td>
                                                                <p>25″</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Color</th>
                                                            <td>
                                                                <p>Black, Blue, Red, White</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Size</th>
                                                            <td>
                                                                <p>M, S</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Vendor-info">
                                            <div class="vendor-info-content">
                                                <div class="vendor-logo">
                                                    <img src="~/assets/images/vendor/vendor-18.svg" alt="vendor" />
                                                    <div class="vendor-name">
                                                        <h6>
                                                            <a href="~/vendor-details-2.html">Noodles Co.</a>
                                                        </h6>
                                                        <div class="product-rate">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half-stroke"></i>
                                                            <span>(32 reviews)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="contact-info">
                                                    <li>
                                                        <img src="~/assets/images/theme/icons/icon-location.svg"
                                                             alt="address" />
                                                        <strong>Address:&nbsp;</strong>
                                                        <span>
                                                            5171 W Campbell Ave undefined Kent, Utah 53127 United
                                                            States
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/theme/icons/icon-contact.svg"
                                                             alt="contact" />
                                                        <strong>Contact Seller:&nbsp;</strong>
                                                        <span>(+91) - 540-025-553</span>
                                                    </li>
                                                </ul>
                                                <div class="percentages">
                                                    <div>
                                                        <p class="text-brand font-xs">Rating</p>
                                                        <h4>92%</h4>
                                                    </div>
                                                    <div>
                                                        <p class="text-brand font-xs">Ship on time</p>
                                                        <h4>100%</h4>
                                                    </div>
                                                    <div>
                                                        <p class="text-brand font-xs">Chat response</p>
                                                        <h4>89%</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Noodles & Company is an American fast-casual restaurant that
                                                    offers
                                                    international and American noodle dishes and pasta in addition
                                                    to
                                                    soups and salads. Noodles & Company was founded in 1995 by Aaron
                                                    Kennedy and is headquartered in Broomfield, Colorado. The
                                                    company
                                                    went public in 2013 and recorded a $457 million revenue in
                                                    2017.In
                                                    late 2018, there were 460 Noodles & Company locations across 29
                                                    states and Washington, D.C.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Reviews">
                                            <div class="reviews-content">
                                                <!-- Comments -->
                                                <div class="comments-area">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="customer-comments">
                                                                <h4>Customer questions & answers</h4>
                                                                <div class="comment-list">
                                                                    <div class="single-comment hover-up">
                                                                        <div class="user">
                                                                            <div class="thumb">
                                                                                <img src="~/assets/images/blog/author-2.png"
                                                                                     alt="author" />
                                                                                <a href="~/#"
                                                                                   class="font-heading">Sienna</a>
                                                                            </div>
                                                                            <div class="desc">
                                                                                <div class="date-time-rate">
                                                                                    <div class="date-time">
                                                                                        <span>
                                                                                            December 4, 2021 at
                                                                                            3:12
                                                                                            pm
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="rate d-inline-block">
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <p class="user-comment">
                                                                                    Lorem ipsum
                                                                                    dolor sit
                                                                                    amet,
                                                                                    consectetur adipisicing elit.
                                                                                    Delectus,
                                                                                    suscipit exercitationem
                                                                                    accusantium
                                                                                    obcaecati quos voluptate
                                                                                    nesciunt
                                                                                    facilis itaque modi commodi
                                                                                    dignissimos
                                                                                    sequi repudiandae minus ab
                                                                                    deleniti
                                                                                    totam officia id incidunt? <a href="~/#"
                                                                                                                  class="reply">Reply</a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="single-comment hover-up">
                                                                        <div class="user">
                                                                            <div class="thumb">
                                                                                <img src="~/assets/images/blog/author-3.png"
                                                                                     alt="author" />
                                                                                <a href="~/#"
                                                                                   class="font-heading">Brenna</a>
                                                                            </div>
                                                                            <div class="desc">
                                                                                <div class="date-time-rate">
                                                                                    <div class="date-time">
                                                                                        <span>
                                                                                            December 4, 2021 at
                                                                                            3:12
                                                                                            pm
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="rate d-inline-block">
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-regular fa-star"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <p class="user-comment">
                                                                                    Lorem ipsum
                                                                                    dolor sit
                                                                                    amet,
                                                                                    consectetur adipisicing elit.
                                                                                    Delectus,
                                                                                    suscipit exercitationem
                                                                                    accusantium
                                                                                    obcaecati quos voluptate
                                                                                    nesciunt
                                                                                    facilis itaque modi commodi
                                                                                    dignissimos
                                                                                    sequi repudiandae minus ab
                                                                                    deleniti
                                                                                    totam officia id incidunt? <a href="~/#"
                                                                                                                  class="reply">Reply</a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="single-comment hover-up">
                                                                        <div class="user">
                                                                            <div class="thumb">
                                                                                <img src="~/assets/images/blog/author-4.png"
                                                                                     alt="author" />
                                                                                <a href="~/#"
                                                                                   class="font-heading">Gemma</a>
                                                                            </div>
                                                                            <div class="desc">
                                                                                <div class="date-time-rate">
                                                                                    <div class="date-time">
                                                                                        <span>
                                                                                            December 4, 2021 at
                                                                                            3:12
                                                                                            pm
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="rate d-inline-block">
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-solid fa-star"></i>
                                                                                        <i class="fa-regular fa-star"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <p class="user-comment">
                                                                                    Lorem ipsum
                                                                                    dolor sit
                                                                                    amet,
                                                                                    consectetur adipisicing elit.
                                                                                    Delectus,
                                                                                    suscipit exercitationem
                                                                                    accusantium
                                                                                    obcaecati quos voluptate
                                                                                    nesciunt
                                                                                    facilis itaque modi commodi
                                                                                    dignissimos
                                                                                    sequi repudiandae minus ab
                                                                                    deleniti
                                                                                    totam officia id incidunt? <a href="~/#"
                                                                                                                  class="reply">Reply</a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="customer-reviews">
                                                                <h4 class="">Customer reviews</h4>
                                                                <div class="rate-result">
                                                                    <div class="rate">
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star"></i>
                                                                        <i class="fa-solid fa-star-half-stroke"></i>
                                                                    </div>
                                                                    <h6>4.5 out of 5</h6>
                                                                </div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>5 star</span>
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 50%" aria-valuenow="50"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    50%
                                                                </div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>4 star</span>
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 25%" aria-valuenow="25"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    25%
                                                                </div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>3 star</span>
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 45%" aria-valuenow="45"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    45%
                                                                </div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>2 star</span>
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 65%" aria-valuenow="65"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    65%
                                                                </div>
                                                            </div>
                                                            <div class="progress mb-30">
                                                                <span>1 star</span>
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 85%" aria-valuenow="85"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    85%
                                                                </div>
                                                            </div>
                                                            <a href="~/#" class="howcalc">
                                                                How are
                                                                ratings
                                                                calculated?
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Comment form -->
                                            <div class="comment-form">
                                                <h4 class="">Add a review</h4>
                                                <div class="rate">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-12">
                                                        <form class="form-contact comment_form" action="#"
                                                              id="commentForm">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control write-comment"
                                                                                  name="comment" id="comment" cols="30"
                                                                                  rows="9"
                                                                                  placeholder="Write Comment"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="name"
                                                                               id="name" type="text"
                                                                               placeholder="Name" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="email"
                                                                               id="email" type="email"
                                                                               placeholder="Email" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="website"
                                                                               id="website" type="text"
                                                                               placeholder="Website" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit"
                                                                        class="button button-contactForm">
                                                                    Submit
                                                                    Review
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="related-products">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="">Related products</h2>
                                    </div>

                                    <div class="col-12">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="related-card hover-up">
                                                    <div class="product-card">
                                                        <div class="product-card-top">
                                                            <a href="~/shop-product.html">
                                                                <img src="~/assets/images/products/product-2-1.jpg"
                                                                     alt="product" class="default-img">
                                                                <img src="~/assets/images/products/product-2-2.jpg"
                                                                     alt="product" class="hover-img">
                                                            </a>

                                                            <div class="product-badge">
                                                                <span class="hot-badge">Hot</span>
                                                            </div>

                                                            <div class="product-action">
                                                                <a href="~/#">
                                                                    <i class="fi-rs-heart"></i>
                                                                </a>
                                                                <a href="~/#">
                                                                    <i class="fi-rs-shuffle"></i>
                                                                </a>
                                                                <a href="~/shop-product.html">
                                                                    <i class="fi-rs-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <h2>
                                                                <a href="~/shop-product.html">
                                                                    Ulstra Bass
                                                                    Headphone
                                                                </a>
                                                            </h2>

                                                            <div class="product-rate">
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </div>

                                                            <div class="product-sale-info">
                                                                <div class="product-price">
                                                                    <span>$238.85</span>
                                                                    <s>$245.8</s>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="related-card hover-up">
                                                    <div class="product-card">
                                                        <div class="product-card-top">
                                                            <a href="~/shop-product.html">
                                                                <img src="~/assets/images/products/product-3-1.jpg"
                                                                     alt="product" class="default-img">
                                                                <img src="~/assets/images/products/product-4-2.jpg"
                                                                     alt="product" class="hover-img">
                                                            </a>

                                                            <div class="product-badge">
                                                                <span class="off-badge">-12%</span>
                                                            </div>

                                                            <div class="product-action">
                                                                <a href="~/#">
                                                                    <i class="fi-rs-heart"></i>
                                                                </a>
                                                                <a href="~/#">
                                                                    <i class="fi-rs-shuffle"></i>
                                                                </a>
                                                                <a href="~/shop-product.html">
                                                                    <i class="fi-rs-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <h2>
                                                                <a href="~/shop-product.html">
                                                                    Smart Bluetooth
                                                                    Speaker
                                                                </a>
                                                            </h2>

                                                            <div class="product-rate">
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </div>

                                                            <div class="product-sale-info">
                                                                <div class="product-price">
                                                                    <span>$138.85</span>
                                                                    <s>$145.8</s>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="related-card hover-up">
                                                    <div class="product-card">
                                                        <div class="product-card-top">
                                                            <a href="~/shop-product.html">
                                                                <img src="~/assets/images/products/product-4-1.jpg"
                                                                     alt="product" class="default-img">
                                                                <img src="~/assets/images/products/product-4-2.jpg"
                                                                     alt="product" class="hover-img">
                                                            </a>

                                                            <div class="product-badge">
                                                                <span class="new-badge">New</span>
                                                            </div>

                                                            <div class="product-action">
                                                                <a href="~/#">
                                                                    <i class="fi-rs-heart"></i>
                                                                </a>
                                                                <a href="~/#">
                                                                    <i class="fi-rs-shuffle"></i>
                                                                </a>
                                                                <a href="~/shop-product.html">
                                                                    <i class="fi-rs-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <h2>
                                                                <a href="~/shop-product.html">
                                                                    HomeSpeak 12UEA
                                                                    Goole
                                                                </a>
                                                            </h2>

                                                            <div class="product-rate">
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </div>

                                                            <div class="product-sale-info">
                                                                <div class="product-price">
                                                                    <span>$738.85</span>
                                                                    <s>$1245.8</s>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-lg-block d-none">
                                                <div class="related-card hover-up">
                                                    <div class="product-card">
                                                        <div class="product-card-top">
                                                            <a href="~/shop-product.html">
                                                                <img src="~/assets/images/products/product-5-1.jpg"
                                                                     alt="product" class="default-img">
                                                                <img src="~/assets/images/products/product-3-2.jpg"
                                                                     alt="product" class="hover-img">
                                                            </a>

                                                            <div class="product-badge">
                                                                <span class="hot-badge">Hot</span>
                                                            </div>

                                                            <div class="product-action">
                                                                <a href="~/#">
                                                                    <i class="fi-rs-heart"></i>
                                                                </a>
                                                                <a href="~/#">
                                                                    <i class="fi-rs-shuffle"></i>
                                                                </a>
                                                                <a href="~/shop-product.html">
                                                                    <i class="fi-rs-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <h2>
                                                                <a href="~/shop-product.html">
                                                                    Dadua Camera 4K
                                                                    2021EF
                                                                </a>
                                                            </h2>

                                                            <div class="product-rate">
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </div>

                                                            <div class="product-sale-info">
                                                                <div class="product-price">
                                                                    <span>$89.8</span>
                                                                    <s>$98.8</s>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                    <div class="col-xl-3">
                        <div class="sidebar-widgets">

                            <div class="sidebar-widget category-widget">
                                <h5>Category</h5>
                                <ul>
                                    <li>
                                        <a href="~/#">
                                            <img src="~/assets/images/theme/icons/icon-1.svg" alt="">
                                            <span class="category-name">Milks & Dairies</span>
                                        </a>
                                        <span class="category-item-count">30</span>
                                    </li>
                                    <li>
                                        <a href="~/#">
                                            <img src="~/assets/images/theme/icons/icon-2.svg" alt="">
                                            <span class="category-name">Clothing</span>
                                        </a>
                                        <span class="category-item-count">35</span>
                                    </li>
                                    <li>
                                        <a href="~/#">
                                            <img src="~/assets/images/theme/icons/icon-3.svg" alt="">
                                            <span class="category-name">Pet Foods</span>
                                        </a>
                                        <span class="category-item-count">42</span>
                                    </li>
                                    <li>
                                        <a href="~/#">
                                            <img src="~/assets/images/theme/icons/icon-4.svg" alt="">
                                            <span class="category-name">Baking material</span>
                                        </a>
                                        <span class="category-item-count">68</span>
                                    </li>
                                    <li>
                                        <a href="~/#">
                                            <img src="~/assets/images/theme/icons/icon-5.svg" alt="">
                                            <span class="category-name">Fresh Fruit</span>
                                        </a>
                                        <span class="category-item-count">87</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-widget filter-widget">
                                <h5>Fill by price</h5>
                                <div class="price-filter">
                                    <div class="price-filter-inner">
                                        <div class="range-input">
                                            <div class="min-price">
                                                <span>Min price:</span>
                                                <input type="range" min="0" max="2000" value="500" id="lower">
                                            </div>
                                            <div class="max-price">
                                                <span>Max price:</span>
                                                <input type="range" min="0" max="2000" value="1000" id="upper">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="caption">
                                                <p>From: <strong id="from">500</strong></p>
                                            </div>
                                            <div class="caption">
                                                <p>To: <strong id="to">1000</strong></p>
                                            </div>
                                        </div>
                                        <div class="color-filter custom-checkbox">
                                            <span class="filter-label">Color</span>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="red">
                                                <label class="form-check-label" for="red">
                                                    Red
                                                    (<span>56</span>)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="green">
                                                <label class="form-check-label" for="green">
                                                    Green
                                                    (<span>78</span>)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="blue">
                                                <label class="form-check-label" for="blue">
                                                    Blue
                                                    (<span>54</span>)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="item-condition custom-checkbox">
                                            <span class="filter-label">Item Condition</span>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="new">
                                                <label class="form-check-label" for="new">
                                                    New
                                                    (<span>1506</span>)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="refurbished">
                                                <label class="form-check-label" for="refurbished">
                                                    Refurbished
                                                    (<span>27</span>)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="used">
                                                <label class="form-check-label" for="used">
                                                    Used
                                                    (<span>45</span>)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="filter-it">
                                            <a href="~/shop-product.html" class="filter-btn">
                                                <i class="fi-rs-filter mr-5"></i> <span>Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget new-products-widget">
                                <h5>New products</h5>

                                <div class="new-product">
                                    <div class="new-product-img">
                                        <img src="~/assets/images/products/thumbnail-3.jpg" alt="new product">
                                    </div>
                                    <div class="new-product-info">
                                        <h6 class="product-name">
                                            <a href="~/#">Chen Cardigan</a>
                                        </h6>
                                        <p class="product-price">$99.50</p>
                                        <div class="product-rate">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-product">
                                    <div class="new-product-img">
                                        <img src="~/assets/images/products/thumbnail-4.jpg" alt="new product">
                                    </div>
                                    <div class="new-product-info">
                                        <h6 class="product-name">
                                            <a href="~/#">Chen Sweater</a>
                                        </h6>
                                        <p class="product-price">$89.50</p>
                                        <div class="product-rate">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-product">
                                    <div class="new-product-img">
                                        <img src="~/assets/images/products/thumbnail-5.jpg" alt="new product">
                                    </div>
                                    <div class="new-product-info">
                                        <h6 class="product-name">
                                            <a href="~/#">Colorful Jacket</a>
                                        </h6>
                                        <p class="product-price">$25</p>
                                        <div class="product-rate">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-lg-block d-none">
                                <div class="sidebar-img" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                                     data-aos-delay="300" data-aos-offset="0">
                                    <img src="~/assets/images/banner/banner-11.png" alt="sidebar image">
                                    <div class="banner-text">
                                        <span class="banner-tagname">Organic</span>
                                        <h4 class="hover-up">Save 17%<br>on <span>Organic</span><br>Juice</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>

</section>

<section id="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="newsletter-all">
                    <div class="newsletter-content">
                        <h2>Stay home & get your daily<br>needs from our shop</h2>
                        <p>Start Your Daily Shopping with <span>Nest Mart</span></p>
                        <form action="#">
                            <input type="email" name="" id="" placeholder="Your emaill address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                    <img src="~/assets/images/banner/banner-9.png" alt="newsletter">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="featured">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/theme/icons/icon-1.svg" alt="icon">
                    </div>
                    <div class="feature-text">
                        <h3>Best prices & offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/theme/icons/icon-2.svg" alt="icon">
                    </div>
                    <div class="feature-text">
                        <h3>Free delivery</h3>
                        <p>24/7 amazing services</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/theme/icons/icon-3.svg" alt="icon">
                    </div>
                    <div class="feature-text">
                        <h3>Great daily deal</h3>
                        <p>When you sign up</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/theme/icons/icon-4.svg" alt="icon">
                    </div>
                    <div class="feature-text">
                        <h3>Wide assortment</h3>
                        <p>Mega Discounts</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/theme/icons/icon-5.svg" alt="icon">
                    </div>
                    <div class="feature-text">
                        <h3>Easy returns</h3>
                        <p>Within 30 days</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>